
/* chỉ gộp style khi hình ảnh chung folder */


/* trail image */
#sec4{
    height: 100vh;
    width: 100vw;
    position: relative;
    bottom:0;
  }
  
  #sec4 .imgg {
    position: absolute;
    width: 300px;
    height: 400px;
    transition-timing-function: ease-out;
  }
  
  .imggg-1 {
    background: url(img-1.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 1000ms;
  }
  
  .imgg-2 {
    background: url(img-2.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 800ms;
  }
  
  .imgg-3 {
    background: url(img-3.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 600ms;
  }
  
  .imgg-4 {
    background: url(img-4.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 400ms;
  }
  
  .imgg-5 {
    background: url(img-5.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 200ms;
  }